{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
Login
{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="flexhorizontal">
		<div class="flexvertical">
			{{ form.as_p }}
			<div style="height: 5px"></div>
			<div class="flexhorizontal">
				<input type="submit" name="submit" class="button fontsize40" value="Login" style="width: 300px">
			</div>
			<div style="height: 5px"></div>
			<div class="flexhorizontal">
				<a href="/register">Haven't made an account yet?</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}