{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
Register
{% endblock %}
{% block customstyle %}
<style>
	.flexvertical p {
		display: flex;
		justify-content: start;
	}
	.flexvertical p label {
		width: 100px;
		margin: 0 10px;
	}
	.flexvertical p input {
		width: 300px;
		margin: 0 10px;
	}
	.flexvertical p span {
		width: 700px;
		margin: 0 10px;
	}
</style>
{% endblock %}
{% block content %}
<form method="POST">
	{% csrf_token %}
	<div class="flexvertical">
		<div class="flexvertical">
			{{ form.as_p }}
		</div>
		<div style="height: 5px"></div>
		<div class="flexhorizontal">
			<input type="submit" name="submit" class="button fontsize40" value="Submit!" style="width: 300px">
		</div>
		<div style="height: 5px"></div>
		<div class="flexhorizontal">
			<a href="/login">Already have an account?</a>
		</div>
	</div>
</form>
{% endblock %}