{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Happy Math</title>
	<link rel="stylesheet" type="text/css" href="/static/newstyle.css">
	{% block customstyle %}{% endblock %}
</head>
<div class="navbar">
	<h1 style="width: 70%; float: left">
		{% block title %}{% endblock %}
	</h1>
	{% if user.is_authenticated %}
	<h1 style="float: right; text-align: right">
	Hello, {{ user.get_username }}
	</h1>
	<a href="/logout" style="width: 135px; float: right; margin: 15px">
		<div class="button fontsize40" style="text-align: center">
			Logout
		</div>
	</a>
	{% else %}
	<a href="/login" style="width: 110px; float: right; margin: 15px">
		<div class="button fontsize40" style="text-align: center">
			Login
		</div>
	</a>
	<a href="/register" style="width: 160px; float: right; margin: 15px">
		<div class="button fontsize40" style="text-align: center">
			Register
		</div>
	</a>
	{% endif %}
</div>
<body>
	<div class="main">
		<div class="flexhorizontal">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div class="footer">
		&copy; 2023 Happy Math. All rights reserved.
	</div>
</body>
</html>