body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #fafafe;
    text-align: center;
}

table {
    border-collapse: collapse;
    /*border: 1px solid;*/
    width: 80%;
    table-layout: fixed;
    margin: auto;
}

th,
td {
    /*border: 1px solid;*/
    max-width: 25%;
    word-wrap: break-word;
    white-space: normal;
    padding: 15px;
    text-align: center;
}

.fontsize50 {
    font-size: 50px;
}

.fontsize40 {
    font-size: 40px;
}

.fontsize30 {
    font-size: 30px;
}

.fontsize25 {
    font-size: 25px;
}

.fontsize20 {
    font-size: 20px;
}

header {
    background-color: #72d3f7;
    color: #3a75f2;
    padding: 1px 29px;
    font-size: 20px;
    text-align: left;
}

footer {
    background-color: #72d3f7;
    color: #3a75f2;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

a:link {
    color: #515fce;
    text-decoration: none;
}

a:visited {
    color: #6546a4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.textbox-height40 {
    font-size: 40px;
}

.textbox-height35 {
    font-size: 35px;
}

.resultimg {
	width: 40px;
	height: 40px;
}

.hiddenimg {
    visibility: hidden;
}