{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Happy Math</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <style>
    table {
        /* border: 1px solid; */
        width: 35%;
    }
    th,td {
        padding: 3px;
        font-size: 40px;
    }
</style>
</head>

<body>
  <header>
    <h2><a href="/">Home</a>/<a href="/grade5/home/">Grade 5</a>/<a href="/grade5/fractions/home/">Fractions</a>/Identify</h2>
  </header>
  <br><br><br>

  <main>
    <form action="/grade5/fractions/identify/">
      <table>
        <tr><td style="text-align: center;" colspan="2">
            <canvas id="fractionCanvas" width="50" height="100"></canvas>
            <script src="/static/FractionsDrawer.js"></script>
            <script>drawFraction("fractionCanvas", "3", "5", 40)</script>
        </td></tr>
        <tr><td style="text-align: right;">
		{% if flag == '=' %}
			{{ flag }}
			{% endif %}
		{% if flag == 'x' %}
			<img src="{% static 'frown.png' %}" class="resultimg">
			{% endif %}
		{% if flag == 'v' %}
			<img src = "{% static 'smile.png' %}" class="resultimg">
			{% endif %}
		</td><td style="text-align: right;">
          <input type="text" id="answer" name="answer" value="{{ answer }}" size="3" 
                    class="textbox-height40" style="text-align: right;"></td></tr>
        <tr><td style="text-align: right;" colspan="2" >
          {% if button2 == "GetAnswer" %}
             <input type="Submit" name="Submit" value="{{ button2 }}" class="textbox-height40">
             {% endif %}
          <input type="Submit" name="Submit" value="{{ cmd }}" class="textbox-height40">
        </td></tr>
      </table>
      <input type="hidden" id="state" name="state" value="{{ state }}">
      <input type="hidden" id="num1" name="num1" value="{{ number1 }}">
      <input type="hidden" id="num2" name="num2" value="{{ number2 }}">
    </form>  
  </main>
  <br><br><br>
  <footer>
    &copy; {{ year }} Happy Math. All rights reserved.
  </footer>
</body>
</html>
