{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Happy Math</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
  <style>
    table {
        /* border: 1px solid; */
        width: 35%;
    }
  th,
  td {
         padding: 3px;
        font-size: 40px;
  }
</style>
</head>
<body onload="DrawingScope.generatePoly('polygonCanvas')">
	<header>
		<h2><a href="/">Home</a>/<a href="/grade5/home/">Grade5</a>/Perimeter</h2>
	</header>
	<br><br><br>
	
	<main>
		<form action="/grade5/perimeter/">
			<canvas id="polygonCanvas"></canvas>
			<script src="/static/PolygonDrawer.js"></script>
			<input type="submit">Submit!</input>
		</form>
	</main>
	<br><br><br>
	<footer>
		&copy; {{ year }} Happy Math. All rights reserved.
	</footer>
</body>
</html>
