<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Happy Math</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <style>
    table {
         border: 1px solid;
    }
    th,
    td {
        border: 1px solid;
    }

  </style>
</head>

<body>
  <header>
    <h2><a href="/">Home</a>/Grade 5</h2>
  </header>
  <br>

  <main class="fontsize25">
  <table>
  <tr>
    <td><a href="/grade5/addition/">Addition</a></td>
    <td><a href="/grade5/subtract/">Subtraction</a></td>
    <td><a href="/grade5/multiply/">Multiplication</a></td>
    <td><a href="/grade5/divide/">Division</a></td>
  </tr>
  <tr>
    <td><a href="/grade5/length/">Length/ Distance</a></td>
    <td><a href="/grade5/time/">Time</a></td>
    <td><a href="https://www.yahoo.com/">Perimeter/Area</a></td>
    <td><a href="https://www.bing.com/">Mass/ Capacity/ Volumne</a></td>
  </tr>
  <tr>
    <td><a href="https://www.bing.com/">Fractions</a></td>
    <td><a href="https://www.bing.com/">Decimals</a></td>
    <td><a href="/playground/hello/">Money</a></td>
    <td><a href="https://www.yahoo.com/">2-D Shapes</a></td>
  </tr>
  <tr>
    <td><a href="https://www.bing.com/">Angles</a></td>
    <td><a href="https://www.bing.com/">Triangles</a></td>
    <td><a href="https://www.bing.com/">3-D Figures</a></td>
    <td><a href="https://www.bing.com/">Grids</a></td>
  </tr>
  <tr>
    <td><a href="/playground/hello/">Pattening</a></td>
    <td><a href="https://www.yahoo.com/">Equations</a></td>
    <td><a href="https://www.bing.com/">Graphs</a></td>
    <td><a href="https://www.bing.com/">Probability</a></td>
  </tr>
 </table>
 </main>
  <br>
  <footer>
    &copy; 2023 Happy Math. All rights reserved.
  </footer>
</body>
</html>