<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Happy Math</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>

<body>
  <header>
    <h1>Happy Math</h1>
  </header>
  <br><br><br>

  <main class="fontsize50">
  <table>
  <tr>
    <td><a href="/playground/hello/">Grade 1</a></td>
    <td><a href="https://www.yahoo.com/">Grade 2</a></td>
    <td><a href="https://www.bing.com/">Grade 3</a></td>
  </tr>
  <tr>
    <td><a href="https://www.wikipedia.org/">Grade 4</td>
    <td><a href="/grade5/home/">Grade 5</td>
    <td><a href="https://www.github.com/">Grade 6</td>
  </tr>
  </table>
  </main>

  <br><br><br>
  <footer>
    &copy; 2023 Happy Math. All rights reserved.
  </footer>
</body>
</html>