<!DOCTYPE html>
<html>
<head>
	<title>Happy Math</title>
</head>
<body>
	<h1>Happy Math</h1>
	<p>Please choose the grade:</p>
	<ul>
		<li><a href="/playground/hello/">Grade 1</a></li>
		<li><a href="https://www.yahoo.com/">Grade 2</a></li>
		<li><a href="https://www.bing.com/">Grade 3</a></li>
		<li><a href="https://www.wikipedia.org/">Grade 4</a></li>
		<li><a href="https://www.amazon.com/">Grade 5</a></li>
		<li><a href="https://www.github.com/">Grade 6</a></li>
	</ul>
</body>
</html>