<!DOCTYPE html>
<html>
<head>
	<title>Wolfram test</title>
	<style>
		body {text-align: center; font-size: 40px;}
	</style>
</head>
<body>
	<header>
		It's the query!
	</header>

	<main>
<form action="/playground/calculate/">
  <label for="prompt">Please type your question:</label><br>
  <input type="text" id="question" name="question" value="" style="font-size: 40px;"><br>
  <input type="submit" value="Submit">
</form> 
	</main>

	<footer>
		<p>&copy; {{ year }} MySite. All rights reserved.</p>
	</footer>

</body>
</html>
