{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade 5</a>
>
<a href="/grade5/fractions/home/">Fractions</a>
>
Identify
{% endblock %}
{% block content %}
<form action="/grade5/fractions/identify/">
    <table>
        <tr>
            <td style="text-align: center;">
                <canvas id="fractionCanvas" width="100" height="100"></canvas>
                <script src="/static/GraphicScripts/FractionsDrawer.js"></script>
                <script>drawFraction("fractionCanvas", {{ number1 }}, {{ number2 }}, {{ number3 }}, 40)</script>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;" class="fontsize30">
                <input type="radio" id="mix" name="fractionType" value="2" {{ mix }}><label for="mix">Mixed Fraction</label><br>
                <input type="radio" id="improper" name="fractionType" value="0" {{ improper }}><label for="improper">Improper Fraction</label><br>
                <input type="radio" id="proper" name="fractionType" value="1" {{ proper }}><label for="proper">Proper Fraction</label>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                {% if button2 == "GetAnswer" %}
                <input type="Submit" name="Submit" value="{{ button2 }}" class="fontsize40 button">
                {% endif %}
                <input type="Submit" name="Submit" value="{{ cmd }}" class="fontsize40 button">
            </td>
        </tr>
        <tr>
        	<td style="text-align: center;">
       			{% if flag == 'x' %}
                <img src="{% static 'img/frown.png' %}" class="resultimg">
                {% endif %}
                {% if flag == 'v' %}
                <img src="{% static 'img/smile.png' %}" class="resultimg">
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="hidden" id="state" name="state" value="{{ state }}">
    <input type="hidden" id="num1" name="num1" value="{{ number1 }}">
    <input type="hidden" id="num2" name="num2" value="{{ number2 }}">
    <input type="hidden" id="num3" name="num3" value="{{ number3 }}">
    <input type="hidden" id="type" name="type" value="{{ fractionType }}">
</form>

{% endblock %}