{% extends "base/default.html" %}
{% load static %}
{% block customstyle %}
<style>
    table {
        /* border: 1px solid; */
        width: 100%;
    }

    th,
    td {
        padding: 3px;
        font-size: 40px;
    }
</style>
{% endblock %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade 5</a>
>
<a href="/grade5/factoring/home/">Factoring</a>
>
Least Common Multiple
{% endblock %}
{% block content %}
<form action="/grade5/factoring/lcm/">

    <table>
        <tr>
            <td class="fontsize30" style="text-align: left;">
            Least Common Multiple of {{ number1 }} and {{ number2 }}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <input type="text" id="answer" name="answer" value="{{ answer }}" autocomplete="off" size="18" class="fontsize40 textfield"
                    style="text-align: left;">
                {% if flag == 'x' %}
                <img src="{% static 'img/frown.png' %}" class="resultimg">
                {% endif %}
                {% if flag == 'v' %}
                <img src="{% static 'img/smile.png' %}" class="resultimg">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                {% if button2 == "GetAnswer" %}
                <input type="Submit" name="Submit" value="{{ button2 }}" class="fontsize40 button">
                {% endif %}
                <input type="Submit" name="Submit" value="{{ cmd }}" class="fontsize40 button">
            </td>
        </tr>
    </table>
    <input type="hidden" id="state" name="state" value="{{ state }}">
    <input type="hidden" id="number1" name="number1" value="{{ number1 }}">
    <input type="hidden" id="number2" name="number2" value="{{ number2 }}">
</form>
{% endblock %}