{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Happy Math</title>
        <link rel="stylesheet" type="text/css" href="/static/newstyle.css">
    </head>
    <body>

        <div class="navbar">
            <h1>
                <a href="/">Happy Math</a>
                >
                Grade 5
            </h1>
        </div>

        <div class="main">
            <div class="subdirgrid">
                <a href="/grade5/addition">
                    <div class="subdirlink">
                        <div class="thumbnail">
    
                        </div>
                        Addition
                    </div>
                </a>
                <a href="/grade5/subtract/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Subtraction
                    </div>
                </a>
                <a href="/grade5/multiply/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Multiplication
                    </div>
                </a>
                <a href="/grade5/divide/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Division
                    </div>
                </a>
                <a href="/grade5/length/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Length/Distance
                    </div>
                </a>
                <a href="/grade6/time/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Time
                    </div>
                </a>
                <a href="/grade6/perimeterarea/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Perimeter/Area
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Volume
                    </div>
                </a>
                <a href="/grade6/fractions/home/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Fractions
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Decimals
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        money
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        2D Shapes
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        3D Figures
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Angles
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Triangles
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Grids
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Patterning
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Equations
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Graphs
                    </div>
                </a>
                <a href="/">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Probability
                    </div>
                </a>
            </div>
        </div>
    
        <div class="footer">
            &copy; 2023 Happy Math. All rights reserved.
        </div>
    </body>
</html>