{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade5</a>
>
<a href="/grade5/perimeterarea/">Perimeter&Area</a>
>
Area
{% endblock %}
{% block content %}
<canvas id="polygonCanvas" width="500" height="500"></canvas><br>
<form method="post">
	{% csrf_token %}
	<div class="flexvertical" style="width: 500px; height: 500px">
		{% if state == 'question' %}
		<label for="response" class="fontsize40 label">Area:</label>
		<div style="height: 5px"></div>
		<input type="text" class="fontsize40 textfield" name="response">
		<div style="height: 5px"></div>
		<input type="submit" class="fontsize40 button" name="submit" value="Submit!">
		{% endif %}
		{% if state == 'correct' %}
		<div class="flexhorizontal">
			<div class="fontsize40 label">Correct!</div>
			<div style="width: 5px"></div>
			<img src="/static/img/smile.png" style="width: 40px; height: 40px">
		</div>
		<div style="height: 5px"></div>
		<input type="submit" class="fontsize40 button" name="submit" value="Next Question!">
		{% endif %}
		{% if state == 'incorrect' %}
		<div class="flexhorizontal">
			<div class="fontsize40 label">Incorrect</div>
			<div style="width: 5px"></div>
			<img src="/static/img/frown.png" style="width: 40px; height: 40px">
		</div>
		<div style="height: 5px"></div>
		<label for="response" class="fontsize40 label">Area:</label>
		<div style="height: 5px"></div>
		<input type="text" class="fontsize40 textfield" name="response" value="{{ response }}">
		<div style="height: 5px"></div>
		<div class="flexhorizontal">
			<input type="submit" class="fontsize40 button" name="submit" value="Submit!">
			<input type="submit" class="fontsize40 button" name="submit" value="Get Answer">
		</div>
		{% endif %}
		{% if state == 'get answer' %}
		<label for="response" class="fontsize40 label">Area: {{ answer }}</label>
		<div style="height: 5px"></div>
		<input type="submit" class="fontsize40 button" name="submit" value="Next Question!">
		{% endif %}
	</div>
	<input type="hidden" name="question" value="{{ question }}">
	<input type="hidden" name="answer" value="{{ answer }}">

	<script src="/static/GraphicScripts/PolyDrawer.js" onload="{{ question }}"></script>

</form>


{% endblock %}