{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade 5</a>
>
Fractions
{% endblock %}
{% block content %}

<div class="subdirgrid">
    <a href="/grade5/fractions/identify">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Identify Fractions
        </div>
    </a>
    <a href="/grade5/fractions/simplify/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Simplify Fractions
        </div>
    </a>
    <a href="/grade5/fractions/addition/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Add Fractions
        </div>
    </a>
    <a href="/grade5/fractions/subtract/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Subtract Fractions
        </div>
    </a>
    <a href="/grade5/fractions/multiply/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Multiply Fractions
        </div>
    </a>
    <a href="/grade5/fractions/divide">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Divide Fractions
        </div>
    </a>
</div>
{% endblock %}