{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Happy Math</title>
        <link rel="stylesheet" type="text/css" href="/static/newstyle.css">
    </head>
    <body>

        <div class="navbar">
            <h1>
                <a href="/">Happy Math</a>
                >
                <a href="/grade6/home">Grade 6</a>
                >
                Variables
            </h1>
        </div>

        <div class="main">
            <div class="subdirgrid">
                <a href="/grade6/variables/evaluating">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Evaluating
                    </div>
                </a>
                <a href="/grade6/variables">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Basic Solving
                    </div>
                </a>
                <a href="/grade6/variables">
                    <div class="subdirlink">
                        <div class="thumbnail">
                            
                        </div>
                        Solving Variables
                    </div>
                </a>
            </div>
        </div>
    
        <div class="footer">
            &copy; 2023 Happy Math. All rights reserved.
        </div>
    </body>
</html>