{% extends "base/default.html" %}

{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade6/home">Grade 6</a>
>
Variables
{% endblock %}

{% block content %}
<div class="subdirgrid">
    <a href="/grade6/variables/evaluating">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Evaluating
        </div>
    </a>
    <a href="/grade6/variables/basicsolving">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Basic Solving
        </div>
    </a>
    <a href="/grade6/variables">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Solving Variables
        </div>
    </a>
</div>
{% endblock %}