{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade5</a>
>
<a href="/grade5/perimeterarea/">Perimeter&Area</a>
>
Perimeter
{% endblock %}
{% block content %}
<canvas id="polygonCanvas"></canvas><br>
<div class="flexvertical">
	<div class="flexhorizontal">
		<label for="perimeter" class="fontsize40 label">Perimeter:</label>
		<img class="hiddenimg resultimg" id="resultimgleft">
	</div>
	<input type="text" name="perimeter" class="fontsize40 textfield" style="text-align:center" id="inputbox">
	<div style="margin:4px">
		<div class="flexhorizontal">
			<input type="button" onclick="DrawingScope.checkPoly()" value="Submit" id="submitbutton"
				class="fontsize40 button">
			<div style="width: 5px"></div>
			<div class="flexvertical">
				<input type="button" onclick="DrawingScope.showSolution()" value="Get Answer" class="fontsize40 button" id="getanswerbutton">
				<div style="height: 5px"></div>
				<input type="button" onclick="DrawingScope.generatePoly('polygonCanvas')" value="Next Question"
					class="fontsize40 button" id="nextbutton" disabled>
			</div>
		</div>
	</div>

</div>
<script src="/static/GraphicScripts/PerimeterDrawer.js" onload="DrawingScope.generatePoly('polygonCanvas')"></script>

<script>
	document.getElementById("inputbox").addEventListener("keyup", function (event) {
		if (event.key === 'Enter') {
			document.getElementById("submitbutton").click();
		}
	})
</script>
{% endblock %}