{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
<a href="/grade5/home/">Grade 5</a>
>
Geometry
{% endblock %}
{% block content %}

<div class="subdirgrid">
    <a href="/grade5/geometry/identifyangles">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Identify Angles
        </div>
    </a>
    <a href="/grade5/geometry/identifytriangles/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Identify Triangles
        </div>
    </a>
    <a href="/grade5/geometry/identifyquadrilateral/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Identify Quadrilateral
        </div>
    </a>
    <a href="/grade5/geometry/perimeterarea/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Perimeter/Area
        </div>
    </a>
    <a href="/grade5/geometry/volume/">
        <div class="subdirlink" style="height: 70px">
            <div style="height: 10px"></div>
            Volume
        </div>
    </a>
</div>
{% endblock %}