{% extends "base/default.html" %}
{% load static %}
{% block title %}
<a href="/">Happy Math</a>
>
Grade 5
{% endblock %}
{% block content %}
<div class="subdirgrid">
    <a href="/grade5/wholenumbers/home/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Whole Numbers
        </div>
    </a>
    <a href="/grade5/length/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Length/Distance
        </div>
    </a>
    <a href="/grade5/time/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Time
        </div>
    </a>
    <a href="/grade5/perimeterarea/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Perimeter/Area
        </div>
    </a>
    <a href="/grade5/volume">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Volume
        </div>
    </a>
    <a href="/grade5/fractions/home/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Fractions
        </div>
    </a>
    <a href="/grade5/decimals/home/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Decimals
        </div>
    </a>
    <a href="/grade5/geometry/home/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Geometry
        </div>
    </a>
    <a href="/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Grids
        </div>
    </a>
    <a href="/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Patterning
        </div>
    </a>
    <a href="/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Equations
        </div>
    </a>
    <a href="/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Graphs
        </div>
    </a>
    <a href="/">
        <div class="subdirlink">
            <div class="thumbnail">

            </div>
            Probability
        </div>
    </a>
</div>
{% endblock %}