{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Happy Math</title>
    <link rel="stylesheet" type="text/css" href="/static/newstyle.css">
    </head>

<body>
    
    <div class="navbar">
        <h1>Happy Math</h1>
    </div>

    <div class="main">
        <div class="subdirgrid">
            <a href="/playground/hello">
                <div class="subdirlink">
                    <div class="thumbnail">

                    </div>
                    Grade 1
                </div>
            </a>
            <a href="/grade2/home/">
                <div class="subdirlink">
                    <div class="thumbnail">
                        
                    </div>
                    Grade 2
                </div>
            </a>
            <a href="/grade3/home/">
                <div class="subdirlink">
                    <div class="thumbnail">
                        
                    </div>
                    Grade 3
                </div>
            </a>
            <a href="/grade4/home/">
                <div class="subdirlink">
                    <div class="thumbnail">
                        
                    </div>
                    Grade 4
                </div>
            </a>
            <a href="/grade5/home/">
                <div class="subdirlink grade5subdirlink">
                    <div class="thumbnail">
                        <img src="/static/img/grade5thumbnail.png">
                    </div>
                    Grade 5
                </div>
            </a>
            <a href="/grade6/home/">
                <div class="subdirlink">
                    <div class="thumbnail">
                        
                    </div>
                    Grade 6
                </div>
            </a>
        </div>
    </div>

    <div class="footer">
        &copy; 2023 Happy Math. All rights reserved.
    </div>
</body>
</html>